<p>El número de preguntas: <%= statistics.totalQuizNumber %></p>
<p>El número de comentarios totales: <%= statistics.totalCommentNumber %></p>
<p>El número medio de comentarios por pregunta: <%= statistics.averageCommentNumber %> (entero bajo)</p>
<p>El número de preguntas sin comentarios: <%= statistics.totalQuizNoCommentNumber %></p>
<p>El número de preguntas con comentarios: <%= statistics.totalQuizWithCommentNumber %></p>
